PORT=3306
DB_HOST=database-1.cjaiskccik2h.us-east-2.rds.amazonaws.com
DB_USER=admin
DB_NAME=fitness_bands_db
DB_PORT=3306
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=ASIA345IPFIQ76CFSS3H
AWS_SECRET_ACCESS_KEY=ccpLrORawwYe7Acxi/xw0ULXn2vjsO1UnhDM/S8R
